
<h2>Server Side Demo Credit Hold and Release AgGrid Application</h2>  
<br>  
    <!--<div class="row">  
        <div class="col-md-8"></div>  
        <div class="col-md-4">  
            <button class="btn btn-sm btn-success button" (click)="Add()">Add Deal</button>    

            <button class="btn btn-sm btn-primary" (click)="editDeal()">Edit Deal</button>    

            <button class="btn btn-sm btn-danger" (click)="deleteDeal()">Delete Deal(s)</button>  
        </div>  
    </div>  -->
        <ag-grid-angular 
            #agGrid
            style="width: 100%; height: 800px;"  
            [rowData]="dealsSSRM"
            class="ag-theme-alpine-dark"
            [columnDefs]="columnDefs" 
            [autoGroupColumnDef]="autoGroupColumnDef"
            [rowModelType]="rowModelType"
            [enableRangeSelection]="true" 
            [rowSelection]="'multiple'"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>